
header{
    width: 100%;
    height: 20vh;
    background-color: brown;
}
div{
    width: 100%;
    height: 80vh;
    background-color: black;
}
.child1 {
    height: 100%;
    width: 12%;
    background-color: burlywood;
    float: left;
}
.child2{
    height: 100%;
    width: 100%;
    background-color: white;

}

.child1_child2{
    background-color: indianred;
    width: 100%;
    height: 50%;
}

.child2_child2{
    width: 50%;
    height: 50%;
    background-color: dimgray;
}